<main class="dashboard">
	<h4>Welcome to Project Management</h4>

	<section class="actions">
		<%= link_to 'Check your Projects', projects_path, class: 'btn btn-primary' %>
		<%= link_to 'Go to Tasks', tasks_path, class: 'btn btn-primary' %>
	</section>
</main>