<main class="index">
  <section class="left">
    <header>
      <h5>List of Tasks in my Projects</h5>
    </header>

    <%= render "table", tasks: @tasks %>
  </section>

  <hr>

  <section class="right">
    <header>
      <h5>Assigned Tasks</h5>
    </header>

    <%= render "table", tasks: @assigned_tasks %>
  </section>
</main>
