@import 'variables';

.index {
	display: flex;
	gap: 2rem;
	padding: 2rem 0;
	section {
		width: 50%;
		border: 1px solid $border;
		border-radius: 1rem;
		padding: 1rem;
		header {
			width: 100%;
			margin-bottom: 1rem;
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-bottom: 1px solid $border;
			height: 55px;
		}
		table {
			width: 100%;
			td { height: 40px }
		}
		.table-empty-state {
			padding: 1rem;
			text-align: center;
			opacity: 0.75;
		}
		.actions {
			display: flex;
			gap: 1rem;
		}
	}
}
