<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <%= link_to 'Project Management', root_path, class: 'navbar-brand' %>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to 'Projects', projects_path,
              class: "nav-link #{'active' if current_page?(controller: 'projects')}" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Tasks', tasks_path,
              class: "nav-link #{'active' if current_page?(controller: 'tasks')}"  %>
        </li>
      </ul>

      <%= button_to t('logout'), destroy_user_session_path, method: :delete, class: 'btn btn-outline-primary' %>
    </div>
  </div>
</nav>